/* Reset default browser styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    font-size: 3rem;
    text-align:center;
}

h2 {
    text-decoration: underline;
}
header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

/* Align images to the left with margin */
.two-column img {
    float: left; /* Float the image to the left */
    margin-right: 20px; /* Add space between image and text */
    width: 150px; /* Adjust the width to fit the layout */
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px;
    margin-left: 10px;
}

three-column img {
    float: left; /* Float the image to the left */
    margin-right: 20px; /* Add space between image and text */
    width: auto; /* Adjust the width to fit the layout */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px;
    margin-left: 10px;
}
.Cape_Coast_Castle {
    background-color: lightgreen;
    overflow: hidden;
}

.ancient {
    background-color: rgba(255, 217, 0, 0.65);
    border: 3px double goldenrod;
}

.pre-colonial { 
    background-color: rgba(255, 217, 0, 0.582);
    border: 3px double goldenrod;
}

.colonial {
    background-color: rgba(255, 255, 0, 0.6);
    border: 3px double goldenrod;
}

.intro {
    margin-bottom: 10px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.tourism {
    background-color: darkseagreen;
    margin-top: 3px;
}


.six-column {
    margin-bottom: 1.5rem;
    padding: 1rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a:hover {
    background-color: #f0f0f0;
    color:darkcyan;
    border: 5px solid darkcyan;
    padding: 5px;
    border-radius: 7px;;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
}

.intro img {
    border-radius: 15px;
    display: block;
    width:60%;
    margin-right: 20px;
    float: left;
}

.novel {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
}

.novel img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}